<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>625557950252-3ubm6l1j034pie56j4tm1km805jofm5f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.625557950252-3ubm6l1j034pie56j4tm1km805jofm5f</string>
	<key>API_KEY</key>
	<string>AIzaSyDVgSqF331m7J4_dlFV76D3myZdr4XpFhM</string>
	<key>GCM_SENDER_ID</key>
	<string>625557950252</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jp.Leon.ryotaro.tsuji.MyCollege</string>
	<key>PROJECT_ID</key>
	<string>mycollege-6d17b</string>
	<key>STORAGE_BUCKET</key>
	<string>mycollege-6d17b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:625557950252:ios:2ed1360a856498bfe6e689</string>
	<key>DATABASE_URL</key>
	<string>https://mycollege-6d17b.firebaseio.com</string>
</dict>
</plist>